<!DOCTYPE html>
<html lang="fr" ng-app="miageApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.3.0/css/ngDialog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.3.0/css/ngDialog.css">
    <script src="./main.js"></script>
    <script src="../myApp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular-cookies.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.3.0/js/ngDialog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.3.0/js/ngDialog.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body class="popup">
        <div>
            <h3> TITRE </h3>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="Type" class="col-md-3 col-form-label">Sujet : </label>
                    <div class="col-md-9">
                        <textarea class="form-control" class="form-control" id="Sujet" aria-describedby="Sujet" placeholder="Enter Sujet"rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group row">
                        <label for="Type" class="col-md-3 col-form-label">Type : </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Type" aria-describedby="Type" placeholder="Enter Type">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Societe" class="col-md-3 col-form-label">Societe :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Societe" aria-describedby="Societe" placeholder="Enter Societe">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Adresse" class="col-md-3 col-form-label">Adresse : </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Adresse" aria-describedby="Adresse" placeholder="Enter Adresse">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Tel" class="col-md-3 col-form-label">Tel : </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Tel" aria-describedby="Tel" placeholder="Enter Tel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Mail" class="col-md-3 col-form-label">Mail : </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Mail" aria-describedby="Mail" placeholder="Enter Mail">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="text-center p-3 mb-2">
            <a class="btn btn-color" href="#"> Répondre </a>
            <a class="btn btn-color" href="#"> Annuler </a>
        </div>
    </body>
</html>
