<div class=" espace3 p-4 mb-3 rond formt shadow">
    <div class="titleOf2">
        <h3>AJOUTER UNE OFFRE eee</h3>
    </div>
    <div class="row p-4 mb-3">
    <div class="col-md-6">

        <!--
        <div class="form-group row">
            <label for="Sujet" class="col-md-3 col-form-label">Sujet : </label>
            <div class="col-md-9">
                <textarea class="form-control" id="Sujet" aria-describedby="Sujet" placeholder="Sujet"rows="6" ng-model="offre.sujet"></textarea>
            </div>
        </div>
        -->
        <div class="input-group mb-3 col row">
            <div class="input-group-prepend span">
                <span for="Sujet" class="input-group-text span3"> Sujet  </span>
            </div>
            <textarea class="form-control" id="Sujet" aria-describedby="Sujet" placeholder="Entrer le sujet" rows="10" ng-model="offre.sujet"></textarea>
        </div>

    </div>
    <div class="col-md-6">
        <form>

            <!--
            <div class="form-group row">
                <label for="Type" class="col-md-3 col-form-label">Type : </label>
                <div class="col-md-9">
                    <select class="custom-select" id="Type" ng-model="offre.type" required>
                        <option value="stage">Stage</option>
                        <option value="alternance">Alternance</option>
                    </select>
                </div>
            </div>
           -->
            <div class="input-group mb-3 col row">

                <div class="input-group-prepend span">
                    <label class="input-group-text span3" for="Type">Type</label>
                </div>
                    <select class="custom-select" id="Type" ng-model="offre.type" required>
                        <option value="stage">Stage</option>
                        <option value="alternance">Alternance </option>
                    </select>
            </div>



            <!--
            <div class="form-group row">
                <label for="Societe" class="col-md-3 col-form-label">Societe :</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="Societe" aria-describedby="Societe" placeholder="Societe" ng-model="offre.societe" required>
                </div>
            </div>
            -->
            <div class="input-group mb-3 col row">
                <div class="input-group-prepend span">
                    <span for="Societe" class="input-group-text span3" id="Nom"> Societe  </span>
                </div>
                <input type="text" class="form-control" id="Societe" aria-describedby="Societe" placeholder="Entrer le nom de la societe" ng-model="offre.societe" required>
            </div>

            <!--
            <div class="form-group row">
                <label for="Adresse" class="col-md-3 col-form-label">Adresse : </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="Adresse" aria-describedby="Adresse" placeholder="Adresse" ng-model="offre.adresse" required>
                </div>
            </div>
            -->
            <div class="input-group mb-3 col row">
                <div class="input-group-prepend span">
                    <span for="Adresse" class="input-group-text span3"> Adresse </span>
                </div>
                <input type="text" class="form-control" id="Adresse" aria-describedby="Adresse" placeholder="Entrer l'adresse" ng-model="offre.adresse" required>
            </div>


            <!--
            <div class="form-group row">
                <label for="Tel" class="col-md-3 col-form-label">Tel : </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="Tel" aria-describedby="Tel" placeholder="Téléphone" ng-model="offre.tel" required>
                </div>
            </div>
            -->
            <div class="input-group mb-3 col row">
                <div class="input-group-prepend span">
                    <span for="Tel" class="input-group-text span3"> Tel </span>
                </div>
                <input type="text" class="form-control" id="Tel" aria-describedby="Tel" placeholder="Entrer le téléphone" ng-model="offre.tel" required>
            </div>

            <!--
            <div class="form-group row">
                <span for="Mail" class="col-md-3 col-form-label">Mail : </span>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="Mail" aria-describedby="Mail" placeholder="Mail" ng-model="offre.mail" required>
                </div>
            </div>
            -->
            <div class="input-group mb-3 col row">
                <div class="input-group-prepend span">
                    <span for="Mail" class="input-group-text span3"> E-mail </span>
                </div>
                <input type="text" class="form-control" id="Mail" aria-describedby="Mail" placeholder="Entrer l'adresse" ng-model="offre.mail" required>
            </div>



        </form>
    </div>
    <div class="text-center p-3 mb-2 ajoutO">
        <input class="btn btn-color-inv" type="submit" ng-click="submitOffer(offre)" value="Envoyer">
    </div>
    </div>
</div>

