
<!--
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
-->
        <div class="espace row popup text-center shadow p-3 rond" ng-controller="loginController">
            <div class="col-md-8 p-3 titeCo">
                <h3>Connexion</h3>
                <div id="Connexion" class="input-group mb-3 conex">
                    <input type="text" class="form-control" placeholder="Veuillez saisir votre adresse e-mail" aria-label="Mail" aria-describedby="Mail" ng-model="user.mail">
                    <div class="input-group-append">
                        <input class="btn btn-color-inv conexbord" type="submit" value="Connexion" ng-click="login(user)">
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3  colore titeCo-inv shadow rond">
                <h3> Pas inscrit ? </h3>
                <div class="conexbtn">
                    <button class="btn btn-color" ng-click="clickToSignIn()" role="button"> S'inscrire </button>
                </div>
            </div>
        </div>
<!--
    </body>
</html>
-->
