<!DOCTYPE html>
<html lang="fr" class="popup">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
        <div class="row popup text-center shadow p-3 mb-5 rond ">
            <div class="col-md-8">
                <h3 class=""> Connexion</h3>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Veuillez saisir votre adresse e-mail" aria-label="Mail" aria-describedby="Mail" ng-model="user.mail">
                    <div class="input-group-append">
                        <input class="btn btn-color" type="submit" value="Connexion" ng-controller="loginController" ng-click="login();">
                    </div>
                </div>
            </div>
            <div class="col-md-4 colore">
                <h3> Pas inscrit ? </h3>
                <a class="btn btn-color" href="inscription.html" role="button"> S'inscrire </a>
            </div>
        </div>

    </body>
</html>
