<!-- ///////////////////////// Bloc Contact ///////////////////////// -->
<h3>Contact</h3>
    <div class="row">

            <!-- ///////////////////////// Bloc saisie question ///////////////////////// -->
            <div class="col-md-5">
                <div class="card">
                    <div>
                        <div class="colore card-header">
                            <h4><i class="fas fa-envelope"></i> Une question ?</h4>
                        </div>

                        <div class="card-body">
                            <div class="input-group contact">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Nom"> Nom </span>
                                </div>
                                <input type="text" class="form-control" placeholder="" aria-label="Nom" aria-describedby="Nom">
                            </div>

                            <div class="input-group contact">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Prenom"> Prénom </span>
                                </div>
                                <input type="text" class="form-control" placeholder="" aria-label="Prenom" aria-describedby="Prenom">
                            </div>

                            <div class="input-group contact ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"  id="Question"> <i class="fas fa-pencil-alt prefix grey-text"></i> </span>
                                </div>
                                <textarea id="form-text" class="form-control" placeholder="Votre Question ?" rows="3"></textarea>
                            </div>

                            <div class="text-center contact">
                                <button class="btn btn-color"> Envoyer </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ///////////////////////// Bloc Google maps ///////////////////////// -->
            <div class="col-md-7">
                <!--Google map-->
                <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5782.11168214326!2d1.4599926765666804!3d43.56371951649764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc3b219e54c9%3A0xbfa01c91f63e6468!2sUniversit%C3%A9+Toulouse+Paul+Sabatier!5e0!3m2!1sfr!2sfr!4v1556917481622!5m2!1sfr!2sfr"
                            idth="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <br>
                <!-- ///////////////////////// Bloc informations complémentaires ///////////////////////// -->
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Université Toulouse III Paul Sabatier</p>
                        <p>Secrétariat MIAGE</p>
                        <p>Bâtiment U3 porte 110 - 118 route de Narbonne</p>
                        <p>31062 Toulouse Cedex</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fas fa-phone"></i>
                        <p> Tel: 05.61.55.67.68</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fas fa-envelope"></i>
                        <p>contact@toulouse.miage.fr</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


