<!-- ///////////////////////// Bloc Contact ///////////////////////// -->

    <div class="espace3 p-4 mb-2 rond formt shadow">
        <div>
            <h3 class="titleOf2">Contact</h3>
        </div>
        <div class="row p-4">
                <!-- ///////////////////////// Bloc Google maps ///////////////////////// -->
                <div class="col-md-6">
                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-1-half map-container-6 rond" style="height: 400px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5782.11168214326!2d1.4599926765666804!3d43.56371951649764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc3b219e54c9%3A0xbfa01c91f63e6468!2sUniversit%C3%A9+Toulouse+Paul+Sabatier!5e0!3m2!1sfr!2sfr!4v1556917481622!5m2!1sfr!2sfr"
                                idth="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- ///////////////////////// Bloc informations complémentaires ///////////////////////// -->
                <div class="col-md-6 offre">
                    <div class="row text-center textc">
                        <div class="col-md-4 p-3">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Université Toulouse III Paul Sabatier</p>
                            <p>Secrétariat MIAGE
                            Bâtiment U3 porte 110-118 route de Narbonne
                            31062 Toulouse Cedex</p>
                        </div>
                        <div class="row text-center textc">
                            <div class="col-md-6 p-3">
                                <i class="fas fa-phone"></i>
                                <p>Tel: 05.61.55.67.68</p>
                            </div>

                            <div class="col-md-6 p-3">
                                <i class="fas fa-envelope"></i>
                                <p>contact@toulouse.miage.fr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


