<!-- ///////////////////////// Bloc Présentation ///////////////////////// -->
<div class="row espace3 row p-4 mb-3 rond formt shadow" id="Presentation">
    <div class="col-md-12 formatText">
        <h3>  Présentation </h3>

        <div>
        <h3>Diplômes délivrés </h3>
            <p>
                <ul>
                    <li>Licence MIASHS parcours MIAGE</li>
                    <li>Master MIAGE IDP - Ingénierie des Données et Protection</li>
                    <li>Master MIAGE ITN - Ingénierie de la Transformation Numérique</li>
                </ul>
            </p>
        </div>
        <div>
            <h3>La formation MIAGE peut se faire...</h3>
            <p>
                <ul>
                    <li>en formation initiale</li>
                    <li>en alternance : apprentissage, contrat de professionnalisation, période de professionnalisation</li>
                    <li>en cours du soir</li>
                    <li>à distance (e-miage)</li>
                </ul>
            </p>
        </div>
        <div>
            <h3>La MIAGE</h3>
            <p>
                Une formation universitaire d’excellence assurée
                dans un réseau de 20 MIAGE délivrant une licence et un Master MIAGE.
                Un pilotage national autour de deux référentiels&nbsp;:
                l’un «&nbsp;formation&nbsp;» harmonise l’ensemble du programme d’enseignement,
                l’autre «&nbsp;professionnel&nbsp;» - Européen - définit les
                compétences associées aux différents métiers cibles de la MIAGE.
                La MIAGE c'est :
                <ul>
                    <li>au niveau national : 4000 étudiants, 1300 alternants, 1200 diplômés de Master</li>
                    <li>à Toulouse&nbsp;: 200 étudiants, 100 alternants, 60 diplômés de Master </li>
                </ul>
            </p>
        </div>
        <div>
            <h3>Un large spectre de secteurs d’activités et d’entreprises</h3>
            <p>
                Tous les types d’entreprises (grands groupes, PME, TPE, fonctions publiques
                et collectivités territoriales, associations) de tous les secteurs professionnels
                sont concernés par les activités visées par les diplômés&nbsp;:
                <ul>
                    <li>Les entreprises de services numériques</li>
                    <li>Les industries de production de biens et de services</li>
                    <li>Les banques et les sociétés d’assurance</li>
                    <li>Les entreprises de distribution, de transport, de tourisme...</li>
                    <li>Les organismes de santé et d’aide à la personne</li>
                    <li>Les ministères et les agences gouvernementales, régionales, locales…</li>
                </ul>
                Les métiers du secteur du numérique sont aujourd’hui en déficit de recrutement que ce soit au niveau régional, national ou européen.
            </p>
        </div>
        <div>
            <h3>Insertion professionnelle</h3>
            <p>
                Les salaires d’embauche des diplômés de Master, sont supérieurs à 30k€ pour plus de 90% d’entre eux. Les taux d’insertion sont proches des 100% dans un délai de 3 mois après l’obtention du diplôme.<br>
                Depuis 2009 :
                <ul>
                    <li>2 à 3 diplômés par an se lancent dans la création d’entreprises</li>
                    <li>6 diplômés ont intégré l’école doctorale durant cette période</li>
                    <li>les délais d’insertion très courts sont directement liés à l’activité en Région
                        Occitanie qui reste le lieu d’insertion privilégié de nos diplômés</li>
                    <li>de nouvelles tendances sont apparues : première expérience à l’étranger (VIE...),
                        année de césure de découverte à l ‘étranger (Canada, Australie, Nouvelle-Zélande)</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<!-- ///////////////////////// Bloc Formation ///////////////////////// -->
<div class="row p-3 mb-3 rond formt shadow" id="Formation">
    <h3>  Formation </h3>
    <div class="row homeCard">
        <div id="accordion">

            <!-- ///////////////////////// Bloc Formation - L2 ///////////////////////// -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link titelFor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Licence MIASHS parcours MIAGE 2ème année
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        runch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- ///////////////////////// Bloc Formation - L3 ///////////////////////// -->
            <div class="card">
                <div class="card-header" id="headingOneOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed titelFor" data-toggle="collapse" data-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                            Licence MIASHS parcours MIAGE 3ème année
                        </button>
                    </h5>
                </div>
                <div id="collapseOneOne" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepte
                        ur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably have
                        n't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <!-- ///////////////////////// Bloc Formation - M1 ///////////////////////// -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed titelFor" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Master MIAGE 1ère année
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <!-- ///////////////////////// Bloc Formation - M2 ///////////////////////// -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed titelFor" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Master MIAGE 2ème année
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ///////////////////////// Bloc Alternance ///////////////////////// -->
<div class="row p-3 mb-3 rond formt shadow" id="Alternance">
    <div class="col-md-12 formatText">
        <h3>  Alternances </h3>
        <p>
            Trois possibilités sont offertes :
            <ul>
                <li>soit en L3 pour une durée d’un an</li>
                <li>soit en 1ère année de Master, pour une durée de deux ans</li>
                <li>soit en 2ème année de Master pour une durée d'un an</li>
            </ul>
            Dans le cadre de l’alternance, le cursus de Master faisant suite à une année de licence est le plus complet, puisque les diplômés peuvent faire valoir une expérience
            professionnelle de trois ans. En fin de parcours, le contrat d’alternance joue le rôle d’une période d’essai et facilite l’entrée des jeunes diplômés dans la vie active.
        </p>
        <h3>Principales thématiques traitées en Licence et Master MIAGE</h3>
        <p>
            <ul class="formatText">
                <li>
                    <strong>Sciences et Technologies de l’Informatique :</strong>
                    Conception et programmation objet, Architecture et systèmes, Outils mathématiques, Réseaux et services, Bases de données, Applications Web, Entrepôts de données dynamiques,
                    Fouilles de données et intelligence économique., Systèmes d’information répartis, Architectures Orientées Services et Orientées Web, Applications d'Entreprise,
                    Infrastructure des réseaux d’entreprises et sécurisation, Approches Cloud, Big Data, Sécurité, Sécurisation
                </li>
                <li>
                    <strong>Ingénierie des Systèmes d’information :</strong>
                    Méthodes systémiques, Méthodes agiles, Modélisation et optimisation, Approche processus, Conduite de Projets, Méthodologies orientées processus , Gestion du Changement,
                    Démarche qualité, Urbanisation des S.I., Intégration continue, Transformation  numérique
                </li>
                <li>
                    <strong>Gestion des Entreprises et Organisations :</strong>
                    Economie industrielle, Droit du travail, Gestion financière, Aide à la décision, Gestion des ressources humaines, Marketing, Gestion de la production,
                    Droit de l’informatique et audit, Gouvernance des SI
                </li>
                <li>
                    <strong>Professionnalisation :</strong>
                    Missions en entreprise, Communication professionnelle, communication interpersonnelle, développement des Softskills , Projets collaboratifs, Projets innovant,
                    Entrepreneuriat
                </li>
            </ul>
        </p>
    </div>
</div>


<!-- ///////////////////////// Bloc Nos partenaires ///////////////////////// -->
<div class="row p-3 mb-3 rond formt shadow" id="Partenaires">
    <div class="col-md-12 formatText">
        <h3> Quelques missions de Miagistes en entreprise </h3>
        <p>
            <ul>
                <li>Progiciel de Gestion ERP : SAP, CRM</li>
                <li>Ingénierie des S.I, conduite du changement</li>
                <li>Refonte de processus métiers, automatisation de workflow</li>
                <li>Interventions en Front Office/Back Office, Off shoring, TMA, MOA</li>
                <li>Industrialisation de Process, Qualité de services, ITIL, CMMi, indicateurs de performance</li>
                <li>Applications WEB, E-business, e-commerce, multi-devices</li>
                <li>Informatique décisionnelle, Bases multidimensionnelles</li>
                <li>Analyse, conception, design UML, normes qualités en conception/développement</li>
                <li>Architectures orientés services, Mashup</li>
            </ul>
        </p>
    </div>
</div>
