<!DOCTYPE html>
<html lang="fr" class="popup">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="popup text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> </th>
                    <th scope="col"> N°</th>
                    <th scope="col"> Type d'offres </th>
                    <th scope="col"> Sujet </th>
                    <th scope="col"> Adresse </th>
                    <th scope="col"> Mail contact </th>
                    <th scope="col"> Tel contact </th>
                    <th scope="col"> Modifier </th>
                    <th scope="col"> Supprimer </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> <input  name="btnsupps" type="checkbox" value=""></td>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td> <button class="btn btn-color" name="btnmodif" type="submit"> <i class="fas fa-edit"></i> </button> </td>
                    <td> <button class="btn btn-color" name="btnsupp" type="submit"> <i class="fas fa-trash-alt"></i> </button> </td>
                </tr>
                <tr>
                    <td> <input  name="btnsupps" type="checkbox" value=""></td>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td> <button class="btn btn-color" name="btnmodif" type="submit"> <i class="fas fa-edit"></i> </button> </td>
                    <td> <button class="btn btn-color" name="btnsupp" type="submit"> <i class="fas fa-trash-alt"></i> </button> </td>
                </tr>
                <tr>
                    <td> <input  name="btnsupps" type="checkbox" value=""></td>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td> <button class="btn btn-color" name="btnmodif" type="submit"> <i class="fas fa-edit"></i> </button> </td>
                    <td> <button class="btn btn-color" name="btnsupp" type="submit"> <i class="fas fa-trash-alt"></i> </button> </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-color">Supprimer</button>
        </div>
    </body>
</html>
