<!DOCTYPE html>
<html lang="fr" ng-app="miageApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/styleMenu.css">
    <script src="../js/functionMenu.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="/main.js"></script>
    <script src="../myApp.js"></script>

</head>
<body>
    <header id="header" role="banner" class="main-header-menu">
        <div class="header-inner-menu">
            <div class="header-logo">
                <img src="../pics/logoMiage.png"  height="45" width="150"/>
            </div>

            <nav class="header-nav-menu">
                <ul>
                    <li>
                        <a href="#/">Présentation<span class="sr-only"></span></a>
                    </li>
                    <li>
                        <a href="#/formation">Formation</a>
                    </li>
                    <li>
                        <a href="#/alternance">Alternance</a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li ng-controller='menuController'>
                        <a ng-if='!connected()' ng-click="clickToSignIn()" href="">Inscription</a>
                    </li>
                    <li ng-controller="menuController">
                        <a ng-if='!connected()' ng-click="login()" href="#">Mon espace</a>
                    </li>
                    <li ng-controller="menuController">
                        <a ng-if='connected()' ng-click="deconnexion()" href="#">Deconnexion</a>
                    </li>
                    <li ng-controller="menuController">
                        <a ng-if='private()' href="#/listeprofil">Liste des profils</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>



    <form id="formQuest" class="espace shadow rond text-center p-3 mb-5">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> Question de bidule </h5>
            <p> le 04/05/2019 à 12:00 </p>
        </div>
        <!-- /////////////////////////  Question ///////////////////////// -->
        <div class="row">
            <div class="col-md-12">
                <p class="quest">" Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit ? "</p>
            </div>
        </div>
        <!-- /////////////////////////  Saisie ///////////////////////// -->
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="text-center p-3 mb-2">
            <a class="btn btn-color" href="#"> Répondre </a>
            <a class="btn btn-color" href="#"> Annuler </a>
        </div>
    </form>




</body>
</html>
