.espace{
    margin-left: 10%;
    margin-right: 10%;

}

.espace2{
    padding-left: 10%;
    padding-right: 10%;

}

.texteraF{
    border-color: #b18b2c !important;
}

.deco{
    background-color: blue !important;
}

.badge{
    padding-top: 1.2%;
    background-color : #4ea283;
}

h5{
    text-transform: uppercase;
    color : #b18b2c;
    font-style: italic;
}

h3{
    text-transform: uppercase;
    color: #b18b2c;
    font-weight: bold;

}

.colore{
    background-color : #4ea283;
    color: white;
}

.btn-color{
    margin-top: 2%;
    color: #b18b2c !important;
    border-color: #b18b2c !important;
    background-color: white !important;
}

.btn-color:active,.btn-color:hover{
    color: white !important;
    border-color: white !important;
    background-color: #b18b2c !important;
}

.btn-color-inv{
    color: white !important;
    border-color: white !important;
    background-color: #4ea283 !important;
}

.btn-color-inv:active,.btn-color-inv:hover{
    color: #4ea283 !important;
    border-color: #4ea283 !important;
    background-color: white !important;
}


.rond{
    border-radius: 15px;
}
.popup{
    background-color: #f8f8f8;
    margin-left: 5px;
    margin-top:5px;
    width: 750px;
    height: 300px;
}

.popupins{
    background-color: #f8f8f8;
    margin-left: 5px;
    margin-top:5px;
    width: 750px;
    height: 400px;
}


.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact{
    margin-bottom: 5%;
    margin-top: 5%;
}

.erreur{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.response{
    border-color: #b18b2c;
}

.quest{
    font-weight: bold;
}

.titelQues h4, h3{
    color:#b18b2c;
    font-weight: bold;
    text-transform: uppercase;
}


.table thead th{
    color: white;
    text-transform: initial;
}

#formQuest{
    margin-top: 2%;
    background-color: #f0ffff91;
}

.formt{
    background-color: #f0ffff91;
}
