.espace{
    margin-left: 10%;
    margin-right: 10%;
}

.deco{
    background-color: blue !important;
}

.badge{
    padding-top: 1.2%;
    background-color : #4ea283;
}

h5{
    text-transform: uppercase;
    color : #4ea283;
}

h3{
    text-transform: uppercase;
}

.colore{
    background-color : #4ea283;
    color: white;
}

.btn-color{
    color: #4ea283 !important;
    border-color: #4ea283 !important;
    background-color: white !important;
}

.btn-color:active,.btn-color:hover{
    color: white !important;
    border-color: white !important;
    background-color: #4ea283 !important;
}

.btn-color-inv{
    color: white !important;
    border-color: white !important;
    background-color: #4ea283 !important;
}

.btn-color-inv:active,.btn-color-inv:hover{
    color: #4ea283 !important;
    border-color: #4ea283 !important;
    background-color: white !important;
}


.rond{
    border-radius: 15px;
}
.popup{
    background-color: #f8f8f8;
    margin-left: 5px;
    margin-top:5px;
    width: 750px;
    height: 300px;
}

.popupins{
    background-color: #f8f8f8;
    margin-left: 5px;
    margin-top:5px;
    width: 750px;
    height: 400px;
}


.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact{
    margin-bottom: 5%;
    margin-top: 5%;
}

.erreur{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}



.response{
    border-color: #4ea283 ;
}

.quest{
    font-weight: bold;
}


/* EN COURS DE TEST */

#truc div
{
    width: 200px;
    height: 150px;
    background-color: blue;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */
    background-color: rebeccapurple;
}


#truc div:hover
{
    transform: translateX(200px); /* On déplace l'objet */
    background-color: aqua;
}

#tr div
{
    width: 200px;
    height: 150px;
    background-color: blue;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */
    background-color: aqua;
}


#tr div:hover
{
    background-color: rebeccapurple;
    transform: translateX(200px); /* On déplace l'objet */
}

/* FIN EN COURS DE TEST */

